@import url(colors.css);


body {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	color: var(--color15) !important;
	background-color: var(--color0) !important;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

main {
	position: absolute;
	top: 50%;
	right: 0;
	left: 0;
	width: 90%;
	max-width: 310px;
	margin: 0 auto;
	transform: translateY(-100px);
	text-align: center;
}

time {
	display: block;
	margin-bottom: 20px;
	font-size: 5rem;
	letter-spacing: 2px;
}

input,
input:focus {
	margin: 0;
	border: 0;
	outline: 0;
	-webkit-appearance: none;
	-moz-appearance: none;
	text-align: center;
}

input {
	box-sizing: border-box;
	width: 100%;
	padding: 12px;
	transition: 0.5s;
	border-radius: 2px;
	background: var(--color0) !important;
	color: var(--color15) !important;
	font-family: 'Roboto', sans-serif;
	font-size: 1.4rem;
}

ul,
li {
	padding: 0;
	list-style: none;
}

.overlay {
	position: fixed;
	display: flex;
	justify-content: center;
	box-sizing: border-box;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 10px;
	transition: 200ms;
	background: var(--color0) !important;
	visibility: hidden;
	opacity: 0;
	z-index: 1;
	overflow: auto;
}

.overlay[data-toggled='true'] {
	visibility: visible;
	opacity: 1;
}

.lists {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow: auto;
}

.category {
	width: 180px;
	margin: 0px;
}

.category-name {
	margin: 0;
	padding: 14px;
	border-radius: 0px 0px 0 0;
	background: var(--color0) !important;
	color: var(--color15) !important;
	font-size: .75rem;
	/*text-transform: uppercase;*/
	text-decoration: underline;
	text-align: center;
}

.command {
	transition: background 200ms;
	background: var(--color0) !important;
}

.command:hover {
	background: var(--color0) !important;
}

.command:nth-child(even) {
	background: var(--color0) !important;
}

.command:nth-child(even):hover {
	background: var(--color0) !important;
}

.command:last-of-type {
	border-radius: 0 0 0px 0px;
}

.command a {
	display: block;
	padding: 14px 12px;
	color: var(--color15) !important;
	font-size: .8rem;
	line-height: 1.3rem;
	text-decoration: none;
}

.command-key {
	display: block;
	width: 32px;
	margin-right: 10px;
	float: left;
	border-radius: 2px;
	background: var(--color0) !important;
	font-family: 'Hack', monospace;
	font-size: .84rem;
	text-align: center
}

@media (min-width: 740px) {
	.overlay {
		align-items: center;
	}
}
